<section class="section">
    <div class="columns container">
        <div class="column is-4">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <span class="image is-128x128" id="profile-img">
                            <img class="is-rounded" src="{{user.profile_img}}" />
                        </span>
                        <br />
                        <br />
                        <div class="content">
                            <p>
                                <strong>{{user.email}}</strong><br />
                                <small>@{{user.nickname}}</small>

                                <br />
                                <br />
                                <strong id="user-stat">
                                </strong>
                            </p>
                            <div>
                                <progress id="profile-progress" class="progress progress-bar" value="{{memes.length}}"
                                    max=""></progress>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="column is-8">
            <div class="box">
                <h1 class="sub-title">Your Uploads</h1>
                <article class="media">
                    <div class="columns horizontalscroll container">
                        {{#each memes}}
                        <div class="column is-4">
                            <img src="{{this.image_url}}">
                        </div>
                        {{/each}}
                    </div>
                    <br />
                </article>
                <h1 class="sub-title">Your Memes</h1>
                <article class="media">
                    <div class="columns horizontalscroll container">
                        {{#each comments}}
                        <div class="column is-4">
                            <div class="contentwrap">
                                {{this.text}}
                            </div>
                        </div>
                        {{/each}}
                </article>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script>
    var progressValue = document.querySelector('#profile-progress')
    var progressStat = ""

    if (progressValue.value < 5) {
        progressValue.max = 5;
        progressStat = "Be-memer"
    } else if (progressValue.value < 10) {
        progressValue.max = 20;
        progressStat = "Ama-memmer"
    } else {
        progressValue.max = 50;
        progressStat = "Pro-memer"
    }
    document.querySelector('#user-stat').innerHTML = progressStat
    console.log(progressValue.max);
    console.log(progressValue.value);

</script>